{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/forgot_password.css' %}">
</head>
<body>
  <div class="container">
    <h2>Forgot Password</h2>
    <form method="post" action="{% url 'otpsend' %}">
      {% csrf_token %}
      <div class="input-group">
        <input type="email" id="email" name="email" placeholder="Email" required {% if otpsent == True %} disabled {% endif %}>
      </div>
      <div class="input-group">
        <input type="text" id="otpfield" name="otpfield" placeholder="OTP" required disabled >
      </div>
      <div class="input-group">
        <input type="password" id="new-password" name="new-password" placeholder="New Password" required disabled>
      </div>
      <div class="input-group">
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" required disabled>
      </div>
      <div class="input-group">
        <button type="submit" id="otp" name="otp" class="send-otp-button">Send OTP</button>
      </div>
      <div class="input-group">
        <button type="submit" id="reset" name="reset" disabled>Reset Password</button>
      </div>
    </form>
    <div class="login-link">
      Remember your password? <a href="/clinic/login/">Login</a>
    </div>
  </div>
  <script src="{% static '.js/forgot_password.js' %}"></script>
</body>
</html>
